body {
    background: radial-gradient(35.2% 85.5%, rgb(231, 161, 161) 0%, rgb(212, 126, 189) 90%);

}

.container {
    margin: 120px auto;
    max-width: 600px;
}


h1 {
    text-align: center;
    font-weight: 800;
    font-size: 55px;
    line-height: 1.5;
    font-family: Snell Roundhand,
        cursive;
    text-shadow: 1px 1px 10px #c54c82;

}

header {
    margin-bottom: 30px;
}



form {
    padding: 30px;
    background-color: #f9ecec;
    border-radius: 30px;
    display: flex;
    box-shadow: 1px 1px 10px#f9f9f9;
    margin-bottom: 30px;
}

.instruction {
    padding: 16px;
    border: 1px solid #e280a6;
    width: 80%;
    font-size: 18px;
    border-radius: 50px;
    line-height: 20px;
    font-family: Snell Roundhand,
        cursive;
    color: #393e46;
}

.submit-button {
    margin-left: 10px;
    background: #dca5dc;
    border: 1px solid #af72b0;
    width: 110px;
    border-radius: 50px;
    padding: 14px;
    font-family: Snell Roundhand,
        cursive;
    color: #af72b0;
    font-size: 20px;
    font-weight: 900;
}

.poem {
    font-size: 18px;
    font-family: URW Chancery L,
        cursive;
    color: #393e46;
    background-color: #f9ecec;
    padding: 20px;
    line-height: 2;
    border-left: 1px solid #ec729c;
    border-right: 1px solid #ec729c;
    border-radius: 10px;
    box-shadow: 1px 1px 10px#f9f9f9;
    text-align: center;
    margin-top: 20px;

}



footer {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.hidden {
    display: none;
}

a {
    color: #b04fb4;
}

.generating {
    animation: blink 3s ease-in-out 0s infinite normal none;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}